chainlit==1.1.202
faiss-cpu==1.8.0
fastapi==1.8.0
langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.1
langchain-experimental==0.0.59
langchain-openai==0.1.7
langchain-text-splitters==0.2.0
langdetect==1.0.9
langserve==0.2.0
langsmith==0.1.63
lxml
openai
pillow
pydantic
tiktoken
unstructured[all-docs]==0.11.8
uvicorn==0.25.0